.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    min-width: 600px;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    overflow: auto;
  }

  .statusContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .control {
    width: 100%;
    color: #fff;
  }